/* footer.css */

/* Estilo para el contenedor del footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilo para los enlaces */
  .footer-links {
    margin-bottom: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Estilo para las imágenes de los logos */
  .footer-icon {
    width: 20px;  /* Ajusta el tamaño del icono */
    height: auto;
    margin-right: 8px;  /* Espacio entre el logo y el texto */
  }
  
  /* Estilo para el texto del copyright */
  .footer p {
    font-size: 14px;
    margin-top: 10px;
  }
  